@import 'utilities.css';
body{
    font-family: 'poppins';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(0, 0, 0, 0.897);
    height: 700px;
}
.container{
    max-width: 1152px;
    padding: 0 32px;
    margin: 0 auto;
}
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 48px;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: rgb(96, 253, 238);
}
header nav{
    padding: 10px;
}
header nav .branding{
    margin-right: 20px;
}