.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 10px 48px;
    font-size: 16px;
    font-weight: 800px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}
.btn-primary{
    background-color: rgb(96, 253, 238);
    color: black;
}
.btn-primary:hover{
    background-color:transparent;
    border-color: rgb(96, 253, 238);
    color: rgb(96, 253, 238);
}
.btn-secondary{
    color: rgb(96, 253, 238);
    background-color: transparent;
    border-color: rgb(96, 253, 238);
}
.btn-secondary:hover{
    background-color: rgb(96, 253, 238);
    color: black;
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}